.desktop-icon{
  width: 90px;
  text-align: center;
  margin-left: 0.3rem;
  margin-right: 2rem;
}

.desktop-icon a{
  text-decoration: none;
  color: black;
}

.image-wrapper{
  width: fit-content;
  margin: 0;
  padding: 0;
}

.image-sizing{
  height:100px;
}

.desktop-icon-text{
  width: 50px;
  background: rgb(191, 233, 233);
  border-color: rgb(191, 233, 233);
  text-align: center;
}

.section-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
