
/* main {
    background: url(https://tree.northwestern.edu/assets/images/film-festival-2021/image1.png) no-repeat center;
    background-size: contain;
    background-color:#008081;
} */
body {

    background-color:#008081;
}

main {
    background: url(../img/desktop-icons/yprpt21.png) no-repeat center;
    background-size: contain;
}

/* .logo-banner{
}
.logo-banner img{
  width:400px;
  display:
} */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.desktop-icon, .desktop-icon * {
    user-select: none;
}
.desktop-icon{
  width: 200px;
  text-align: center;
  user-select: none; 
}

.desktop-icon a{
  text-decoration: none;
  color: black;
}


.image-sizing{
  height:180px;
}

.desktop-icon-text{
  width: 50px;
  background: #C2FFFF;
  border-color: rgb(191, 233, 233);
  text-align: center;
}

.section-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
