.desktop-icon{
  width: 90px;
  text-align: center;
  margin-left: 0.3rem;
  margin-right: 2rem;
}

.desktop-icon a{
  text-decoration: none;
  color: black;
}

.image-wrapper{
  width: fit-content;
  margin: 0;
  padding: 0;
}

.image-sizing{
  height:100px;
}

.desktop-icon-text{
  width: 50px;
  background: rgb(191, 233, 233);
  border-color: rgb(191, 233, 233);
  text-align: center;
}

.section-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

#blue-square {
   width: 200px;
   height: 200px;
   background: skyblue;
   position: absolute;
   top: 30px;
   left: 30px;
   padding: 30px;
   user-select: none;
}

#blue-square div {
   background: white;
   padding: 10px;
   height: 100%;
   user-select: none;
}

#purple-square {
   width: 100px;
   height: 100px;
   top: 320px;
   left: 170px;
   background: lightpink;
   position: absolute;
   padding: 10px;
   user-select: none;
}

#yellow-square {
   width: 150px;
   height: 150px;
   top: 120px;
   left: 470px;
   background: yellow;
   position: absolute;
   padding: 10px;
   user-select: none;
}
