.nextFilm {
    padding: 100px;
    background-color: #006992;
}

.nextFilm a {
  width: 20rem;
  height: 5rem;
  font-size: 2em;
  font-weight: 400;
  max-height: none;
}

body {
  background-image: url(https://cdn.dribbble.com/users/296223/screenshots/3343827/dribble-shot-yellow.jpg?compress=1&resize=800x600);
}

.navbar{
  background-color: #CC7400;
}

.navbar .navbar-nav .nav-link {
  background: #F4E04D;
}

.card-secondary .card-header {
  background: #F4E04D;
}
